*{	
	font-family: segoe ui;
	margin: 0;
	padding: 0;	
}
nav{
	border-top: 3px solid #f48225;
	border-bottom: 2px solid #e6e6e6;
}
.product{
	font-size: 13px;
    color: #7d8388;
}
.search{
	top:10px;
	width: 26px;
}
#stack{
	width: 158px;
}
.navbar input{
	padding-left:30px;
	font-size:13px;
}
.data{
    	font-size: 12px;
    	font-weight: bold;
}
.circle {
    	width: 6px;
    	height: 6px;
    	border-radius: 50px;
    	background-color: #d1a684;
	margin:9px 1px 1px 8px;
}
.cdata{
    	font-size: 12px;
    	color: #c0a38a;
}
.trophy{
	width: 38.5px;
}
.list,.help{
	width: 37px;
}
.sidebar{			                                          /*  sidebar   */
	border-right:1px solid #e0e2e5;
	width:163.5px;
	height: 540px;
	top: 0;
}
.sidebar .home{	
        font-size: 13px;
	cursor:pointer;	
	color: #7d8288;
}
.home:hover{
	color:#404244;
}
.sidebar .public{
	font-size: 11px;
	color: #8a9198;
}
.sidebar .options ul, .sidebar .option ul{
	list-style-type:none;
}
.sidebar .options .material-icons{
	color:#838ca5;
	font-size:19px;
}
.sidebar{
	width: 190px;
}
.sidebar .options a{
	font-size:13px;
	text-decoration:none;
	font-family: segoe ui;
	line-height: 16px;
	position: relative;		
}
.sidebar .options .material-icons:hover,.sidebar .options .one a:hover,.sidebar .options .two a:hover,.sidebar .options .four a:hover{
	color:#404244;
}
.sidebar .options .one a{
	vertical-align: text-top;
	color: #696f95;
}
.sidebar .options .two a{
	color: #696f95;	
}
.sidebar .options .three{
	width:161px;
	border-right: 3px solid #f48225;
}
.sidebar .options .three a{
	color: #000000;	
	font-weight: bold;
}
.sidebar .options .three {
	background-color:#f1f1f3;
}
.sidebar .options .four a{
	color: #696f95;	
}
.sidebar .option a{
	text-decoration:none;	
	color:#696f95;	
}
.sidebar .option .collect a{
	font-size:11px;
}
.sidebar .option .material-icons{
	font-size:14px;
	color:#6a737c;
}
.sidebar .expo img{
	width: 24px;
	cursor: pointer;
}
.sidebar .expo a{
	font-size: 13px;
}
.expo a:hover,.free a:hover{
	color:#404244;
}
.sidebar .option .team a{
	font-size:11px;	
}
.sidebar .free img{
	width: 24px;
	cursor: pointer;
}
.sidebar .free a{
	font-size: 13px;
        bottom: 8px;
        right: 3px;
}

